<!-- Clickio Consent Main tag -->
<script async type="text/javascript" src="https://clickiocmp.com/t/consent_247375.js"></script>
<script defer data-cfasync='false' src='https://s.clickiocdn.com/t/247375_wv.js'></script>

<style>body.clickio-cmp-in-scope .clickio-cmp-settings-display { display: inherit !important; }</style>
<a class="clickio-cmp-settings-text clickio-cmp-settings-display" style="display:none;" href="#">Your Privacy Choices</a>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-RTPTZC13KG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // Diese Zeile hilft beim Datenschutz
  gtag('config', 'G-RTPTZC13KG', { 'anonymize_ip': true });
</script>

