<!-- Start cookiepal banner -->
<script id="cookiepal" type="text/javascript" src="https://cdn.cookiepal.io/client_data/62e4e284-1ab6-4365-a615-4342aec5ac97/script.js"></script>
<!-- End cookiepal banner -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-RTPTZC13KG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // Diese Zeile hilft beim Datenschutz
  gtag('config', 'G-RTPTZC13KG', { 'anonymize_ip': true });
</script>