<!-- Clickio Consent Main tag -->
<script async type="text/javascript" src="https://clickiocmp.com/t/consent_247375.js"></script>
<script defer data-cfasync='false' src='https://s.clickiocdn.com/t/247375_wv.js'></script>

<style>body.clickio-cmp-in-scope .clickio-cmp-settings-display { display: inherit !important; }</style>
<a class="clickio-cmp-settings-text clickio-cmp-settings-display" style="display:none;" href="#">Your Privacy Choices</a>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-RTPTZC13KG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // Diese Zeile hilft beim Datenschutz
  gtag('config', 'G-RTPTZC13KG', { 'anonymize_ip': true });
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MSDDWCGW');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSDDWCGW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->