@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/montserrat-bold.woff2') format('woff2');
}

:root {
  --font-family-base: 'Montserrat', sans-serif;
  --font-family-heading: 'Montserrat', sans-serif;
}

.hov-grow {
  transition: transform 0.2s ease-in-out;
}
.hov-grow:hover {
  transform: translateY(-5px);
  border-color: var(--main-color) !important;
}
